/*#### SMALL SCREENS #####*/
@media (max-width: 1190px) {
	#dashboard-nav {
		#nav-menu {
			#nav-menu-list {
				.nav-menu-item {
					#profile {
						#profile-image {
							img {
							}
						}
						img {
						}
					}
				}
			}
		}
	}
}

@include respond-below(md) {
	#orderbook-dashboard-intro {
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		padding: 0 !important;

		h1,
		h3,
		p {
			text-align: center;
		}

		h3 {
			font-size: 25px !important;
			margin: 10px 0px;
		}

		p {
			padding: 10px !important;
			font-size: 18.5px !important;
		}
	}

	#user-quick-action {
		.actions {
			h2 {
				font-size: 15px !important;

				.fa-thumbs-o-up {
					width: 35px !important;
					height: 35px !important;
				}
			}
		}
	}

	#account-overview {
		#account {
			max-width: 100% !important;
			width: 100% !important;

			p {
				font-size: 14px;
			}
		}
	}
}

@include respond-below(sm) {
	#nav-menu {
		width: 100% !important;

		#nav-menu-list {

			.dropdown {

				#deals-dropdown,
				#analysis-dropdown,
				#admin-dropdown,
				#help-dropdown {
					visibility: visible !important;
					background: none !important;
					position: static !important;
					top: 0 !important;

					&::after {
						display: none !important;
					}
				}
			}

			#user-profile-menu-item {
				width: 100% !important;

				#horizontal-divider {
					border-top: 1px solid lightgrey;
					margin: 15px 70px;;
				}

				#profile-container {

					#profile-dropdown {
						width: 100% !important;

						#profile-photo {
							margin-left: 10px;
						}

						#profile-menu-nav {
							background: black;
							position: static !important;
							width: inherit !important;
							visibility: visible !important;
							margin-top: 15px;

							.menu-nav-container {
								color: $white !important;

								a {
									color: $white !important;

									&:hover {
										background: none !important;
									}
								}

								span:hover {
									background: none !important;
								}
							}

							&::after {
								display: none !important;
							}
						}
					}

					#bank-photo {display: none !important;}
				}
			}
		}
	}

	#user-quick-action {
		height: 300px !important;
		flex-direction: column !important;
		align-items: flex-start !important;
		padding: 0 30px !important;

		.actions {
			border: none !important;
			padding-right: 0 !important;

			h2 {
				font-size: 15px !important;

				.fa-thumbs-o-up {
					width: 35px !important;
					height: 35px !important;
				}
			}
		}
	}
}

/*##### LARGE SCREEN #####*/
#dashboard-nav {
	#orderbook-nav {
		height: auto !important;

		#nav-menu {
			width: 80%;
			#nav-menu-list {
				width: 100% !important;

				.nav-menu-item {
					margin-right: 0 !important;

					&.dropdown {
						position: relative;
					
						#deals-dropdown,
						#analysis-dropdown,
						#admin-dropdown,
						#help-dropdown {
							visibility: hidden;
							position: absolute;
							background: $white !important;
							top: 115%;
							z-index: 1;
							padding: 0px 0px 15px 0px;
							width: 250px;

							a {
								color: $black;
								padding: 8px 8px 8px 15px;
								margin-top: 10px;

								&:hover {
									background: lightgray;
								}
							}

							&::after {
								content: "";
								position: absolute;
								bottom: 100%;
								left: 13%;
								margin-left: -5px;
								border-width: 5px;
							  	border-style: solid;
							  	border-color: transparent transparent $white transparent;
							}
						}

						&:hover #deals-dropdown,
						&:hover #analysis-dropdown,
						&:hover #admin-dropdown,
						&:hover #help-dropdown {
							visibility: visible;
						}
					}
			

					#profile-container {
						display: flex;
						justify-content: space-between;

						#profile-dropdown {
							position: relative;
							display: inline-block;

							#profile-photo {
								display: inline-block;
								width: 50px;
								height: 50px;
								border-top: 3px dashed $white;
								border-right: 3px dashed $white;
								border-radius: 25px;
							}

							#profile-menu-nav {
								position: absolute;
								top: 115%;
								right: -15px;
								z-index: 1;
								width: 200px;
								visibility: hidden;
								padding: 30px 20px;

								.menu-nav-container {
									color: $black;
									font-family: $body-font;
									font-size: 17px;
									width: 100%;

									a {
										padding: 10px;
										color: $black;

										&:hover {
											background: lightgray;
										}
									}
								}

								#account {
									span {
										display: block;
										padding: 10px;
										&:hover {
											background: lightgray;
										}
									}
								}

								&::after {
									content: "";
									position: absolute;
									bottom: 100%;
									left: 75%;
									margin-left: -5px;
									border-width: 5px;
								  	border-style: solid;
								  	border-color: transparent transparent $white transparent;
								}
							}


							&:hover #profile-menu-nav {
								visibility: visible !important;
							}

							margin-right: 7px;
						}

						img {
							width: 45px;
							height: 45px;
							display: block;
						}
					}
				}
			}
		}
	}
}

#dashboard-intro-container {
	#orderbook-dashboard-intro {
		height: 450px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 6em 0 0 5em;

		h1 {
			font-family: $header-font;
			font-size: 40px;
			font-weight: 900;
			max-width: 450px;
			margin-block-start: 0px;
		}

		h3 {
			font-size: 30px;
		}

		p {
			font-family: $body-font;
			font-size: 20px;
			margin-bottom: 40px;
			max-width: 450px;
			line-height: 1.3;
		}

		.update-profile-cta {
			background-color: $primary-dark;
			width: 200px;
			padding: 3px;
			font-family: $body-font;
		}
	}

	#user-quick-action {
		height: 100px;

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 40px;

			h2 {
				font-size: 20px;

				.fa-thumbs-o-up {
					width: 45px;
					height: 45px;
					border-radius: 22.5px;
					background: lightgray;
					color: white;
					text-align: center;
					vertical-align: middle;
					padding: 10px 0px;
					margin-right: 8px;
				}
			}
		}
	}

	#account-overview {
		background: #555555;
		color: $white;
		padding: 5px;

		#overview-title {
			font-size: 25px;
		}

		#account {
			max-width: 500px;
			width: 550px;
			height: 100px;

			p {
				.count {
					height: 50px;
					width: 50px;
					background: $white;
					color: $black;
					border-radius: 25px;
					padding: 5px;
				}
			}
		}
	}

	#offers {
		height: auto;

		#offer-header {
			color: $white;

			h3 {
				font-size: 30px;
			}

			#sort-by {
				label {
					font-family: $body-font;
					font-size: 15px;
				}

				#sort-offer {
					color: $black;
					width: 150px;
				}
			}
		}

		#the-offers {
			.offer {
				display: flex;
				flex-direction: column;
				color: $white;
				width: 100%;

				.offer-title {
					display: flex;

					.offer-image {
						width: 50%;
						display: block;
					}

					.title {
						width: 50%;
						background: white;
						color: $black;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 5px 20px;
						font-size: 15px;
						font-weight: bold;
					}
				}

				.offer-description {
					font-size: 13px;
					padding-top: 15px;
					padding-bottom: 20px;
				}
				.offer-button {
					display: flex;

					button {
						width: 50%;
						height: 40px;
						background: hotpink;
						font-size: 15px;
						font-weight: bold;
						font-family: $body-font;

						&.bg-grey {
							background: #555555 !important;
						}
						&.bg-white {
							background: $white;
							color: $black;
						}

						&.last-button {
							width: 100%;
							background: $white;
							color: $black;
						}
					}

					& > button {
						margin-right: 15px;
					}
				}
			}

			#view-more {
				color: $black;
				margin-top: 15px;
			}
		}
	}
}