#orderbook-publish-offer {

	/*MOBILE SCREENS*/
	@include respond-below(sm) {
		padding: 0 !important;

		#offer-publication {

			#the-offer {
				height: auto !important;
				
				.grid {
					#offer-button {
						button {
							width: 100% !important;
						}
					}
				}
			}
		}

		#offer-button {
			background: #555555;

			button {
				width: 100% !important;

				&.push-loan {
					margin-right: 0 !important;
				}
			}
		}
	}

	@include respond-below(md) {
		#the-offer {
			.grid {
			}
		}
	}

	/*LARGE SCREENS*/
	position: relative;
	background: $white;

	#offer-publication {
		background: $grey;
		padding: 6em 3em;

		input[type="checkbox"] {
			width: 20px;
			height: 20px;

			&:focus {
				outline: none !important;
				border: none !important;
			}
		}

		label {
			font-family: $body-font;
			font-size: 1.25rem;
			vertical-align: middle;
		}

		#the-offer {
			background: $white;
			height: auto;

			#select-category {
				span {
					font-family: $header-font;
				}

				#categories {
					.category-checkbox {
						margin-right: 10px;
						color: $black !important;

						&:checked {
							color: $black !important;
						}
					}

					button.view-more {
						color: $black;
						height: auto;
					}
				}
			}
		}

		#select-investors {
			background-color: #e2e2e2;

			option {
				font-size: 20px;
			}

			/* width */
			&::-webkit-scrollbar {
			  width: 10px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
			  background: #f1f1f1;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
			  background: #888;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			  background: #555;
			}
		}

		#save-as-checkboxes {
			input[type="checkbox"] {
				// background: transparent !important;

				&:check, &:focus {
					
				}
			}
		}
	}

	#offer-button {
		button {
			width: 250px;

			&.default-orderbook-button {
				height: auto !important;
			}
		}
	}

	#offer-modal {
		display: none;

		&.accept-modal {
			display: block;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

			#modal-content {
				background: $white;
				padding: 20px;
				width: 40%;
				height: 40%;
				margin: 15% auto;

				.close {
					color: #aaa;
					font-size: 28px;
					font-weight: bold;
					display: block;
					text-align: right;

					&:hover,
					&:focus {
						color: black;
						text-decoration: none;
						cursor: pointer;
					}
				}

				button {
					width: 200px;
				}
			}
		}
	}
}