/*#### SMALL SCREENS #####*/

@include respond-below(md) {
	#orderbook-investor-dashboard {
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		padding: 0 !important;

		h1,
		h3,
		p {
			text-align: center;
		}

		h3 {
			font-size: 25px !important;
			margin: 10px 0px !important;
		}

		p {
			padding: 10px !important;
			font-size: 18.5px !important;
		}
	

		#user-quick-action {
			.actions {
				h2 {
					.fa-thumbs-o-up {
						width: 35px !important;
						height: 35px !important;
					}
				}
			}
		}
	}
}

@include respond-below(sm) {
	#orderbook-investor-dashboard {
		#user-quick-action {
			height: 300px !important;
			flex-direction: column !important;
			align-items: flex-start !important;
			padding: 0 30px !important;

			.actions {
				border: none !important;
				padding-right: 0 !important;

				h2 {
					.fa-thumbs-o-up {
						width: 35px !important;
						height: 35px !important;
					}
				}
			}
		}

		#offer-status {
			overflow-x: scroll !important;
		}
	}
}

/*##### LARGE SCREEN #####*/

#orderbook-investor-dashboard {
	#orderbook-dashboard-intro {
		height: 450px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 6em 0 0 5em;

		h1 {
			font-family: $header-font;
			font-size: 40px;
			font-weight: 900;
			max-width: 450px;
			margin-block-start: 0px;
		}

		h3 {
			font-size: 30px;
		}

		p {
			font-family: $body-font;
			font-size: 20px;
			margin-bottom: 40px;
			max-width: 450px;
			line-height: 1.3;
		}

		.update-profile-cta {
			background-color: $primary-dark;
			width: 200px;
			padding: 3px;
			font-family: $body-font;
		}
	}

	#user-quick-action {
		height: 100px;

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 40px;

			h2 {
				font-size: 20px;

				.fa-thumbs-o-up {
					width: 45px;
					height: 45px;
					border-radius: 22.5px;
					background: lightgray;
					color: white;
					text-align: center;
					vertical-align: middle;
					padding: 10px 0px;
					margin-right: 8px;
				}
			}
		}
	}

	#offer-status {
		background: #e5e5e5;

		#title {
			h3 {
				margin-left: 75px;
				font-weight: bold;
			}

			border-bottom: 1px solid $grey;
		}

		table {
			overflow-x: auto;

			thead {
				tr {
					th {
						padding: 0.5rem;
					}
				}
			}

			tbody {
				tr {
					td {
						padding: 0.5rem;
						text-align: center;
						width: 200px;
						border-top: 1px solid $grey;
						border-bottom: 1px solid $grey;

						button {
							height: 37px !important;
						}

						&.offer-status-name {
							text-align: left;
						}
					}
				}
			}
		}

		#paginate-offer-status {
			padding: 20px;

		.pagination {
			display: flex;
			justify-content: flex-end;

			li {
				color: $black;
				font-family: $body-font;
				font-size: 17px;
				font-weight: bold;
				height: 45px;
				width: 45px;
				border-radius: 22.5px;
			    display: flex;
			    justify-content: center;
			    align-items: center;

				&.selected {
					background: $black;
					color: $white;
				}
			}
		}
		}
	}
}