/*#### SMALL SCREENS #####*/
@media (max-width: 1190px) {
	#dashboard-nav {
		#nav-menu {
			#nav-menu-list {
				.nav-menu-item {
					#profile {
						#profile-image {
							img {
							}
						}
						img {
						}
					}
				}
			}
		}
	}
}

@include respond-below(md) {
	#orderbook-investor-dashboard {
		display: flex;
		flex-direction: column;
		justify-content: center !important;
		align-items: center !important;
		padding: 0 !important;

		h1,
		h3,
		p {
			text-align: center;
		}

		h3 {
			font-size: 25px !important;
			margin: 10px 0px;
		}

		p {
			padding: 10px !important;
			font-size: 18.5px !important;
		}
	}

	#user-quick-action {
		.actions {
			h2 {
				font-size: 15px !important;

				.fa-thumbs-o-up {
					width: 35px !important;
					height: 35px !important;
				}
			}
		}
	}

	#notifications-container {
		width: 90%;

		#notifications {
			width: 100% !important;

			.notification {
				div {
					a {
						font-size: 16px !important;
					}

					small {
						font-size: 13px !important;
					}
				}
			}
		}
	}
}

@include respond-below(sm) {
	/*#nav-menu {
		width: 100% !important;

		#nav-menu-list {

			.dropdown {

				#deals-dropdown,
				#analysis-dropdown,
				#admin-dropdown,
				#help-dropdown {
					visibility: visible !important;
					background: none !important;
					position: static !important;
					top: 0 !important;

					&::after {
						display: none !important;
					}
				}
			}

			#user-profile-menu-item {
				width: 100% !important;

				#horizontal-divider {
					border-top: 1px solid lightgrey;
					margin: 15px 70px;;
				}

				#profile-container {

					#profile-dropdown {
						width: 100% !important;

						#profile-photo {
							margin-left: 10px;
						}

						#profile-menu-nav {
							background: black;
							position: static !important;
							width: inherit !important;
							visibility: visible !important;
							margin-top: 15px;

							.menu-nav-container {
								color: $white !important;

								a {
									color: $white !important;

									&:hover {
										background: none !important;
									}
								}

								span:hover {
									background: none !important;
								}
							}

							&::after {
								display: none !important;
							}
						}
					}

					#bank-photo {display: none !important;}
				}
			}
		}
	}*/

	#user-quick-action {
		height: 300px !important;
		flex-direction: column !important;
		align-items: flex-start !important;
		padding: 0 30px !important;

		.actions {
			border: none !important;
			padding-right: 0 !important;

			h2 {
				font-size: 15px !important;

				.fa-thumbs-o-up {
					width: 35px !important;
					height: 35px !important;
				}
			}
		}
	}

	#notifications-container {
		width: 100% !important;

		#notifications {
			.notification {
				display: block !important;

				.badge {
					width: 40px !important;
					height: 40px !important;
					border-radius: 20px !important;
					font-size: 25px !important;
				}
			}
		}
	}
}

/*##### LARGE SCREEN #####*/

#orderbook-investor-dashboard {
	#orderbook-dashboard-intro {
		height: 450px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 6em 0 0 5em;

		h1 {
			font-family: $header-font;
			font-size: 40px;
			font-weight: 900;
			max-width: 450px;
			margin-block-start: 0px;
		}

		h3 {
			font-size: 30px;
		}

		p {
			font-family: $body-font;
			font-size: 20px;
			margin-bottom: 40px;
			max-width: 450px;
			line-height: 1.3;
		}

		.update-profile-cta {
			background-color: $primary-dark;
			width: 200px;
			padding: 3px;
			font-family: $body-font;
		}
	}

	#user-quick-action {
		height: 100px;

		.actions {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 40px;

			h2 {
				font-size: 20px;

				.fa-thumbs-o-up {
					width: 45px;
					height: 45px;
					border-radius: 22.5px;
					background: lightgray;
					color: white;
					text-align: center;
					vertical-align: middle;
					padding: 10px 0px;
					margin-right: 8px;
				}
			}
		}
	}

	#notifications-container {
		background: $grey;

		#notifications,
		#blank-space {
			height: auto;
		}

		#notifications {
			width: 60%;

			.notification {
				border-top: 1px solid $white;
				padding: 25px 0;
				padding-left: 25px;
				display: flex;

				.badge {
					display: inline-block;
					height: 55px;
					width: 55px;
					border-radius: 27.5px;
					background: $white;
					font-family: $header-font;
					font-size: 30px;
					font-weight: bold;
					text-align: center;
					color: $black;
					// width: 9%;
					margin-right: 20px;
				}

				div {
					color: $white;

					a {
						font-weight: bold;
						font-size: 18px;
						text-align: left;
					}

					small {
						font-size: 20px;
						display: block;
					}
				}
			}
		}

		#blank-space {
			width: 40%;
		}
	}
}