#app {

	// ##### SMALL SCREEN #####
	@include respond-below(xs) {
		#orderbook-login {
			height: 80vh !important;
		}
	}

	@include respond-below(md) {
		#orderbook-login {
			#login-intro {
				h1 {font-size: 30px !important;}
			}
		}
	}

	@include respond-above(md) {
		#orderbook-login {
			height: 100vh;

			#orderbook-form {
				form {
					&>div {
						padding-top: 8em !important;
					}
				}
			}
		}
	}

	// ####### LARGE SCREEN #####
	#orderbook-login {

		#intro-background {
			background-size: cover;
			background-position: center;
			position: relative;

			
			#overlay {
				// content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,34,118,0.5);
				z-index: 1 !important;
			}

			#intro-title {
				font-family: $header-font;
				font-weight: 900;
				height: 40px;
				width: 200px;
			}

			#login-intro {
				padding: 8.5em 2em;

				h1 {
					font-weight: 900;
					font-size: 40px;
					line-height: 1.3
				}
				p {
					font-size: 20px;
					max-width: 590px;
				}
			}
		}
	}

	#orderbook-form {
		form {
			h2 {
				font-size: 30px;
				font-weight: bold;
			}

			input {
				&#email-address,
				&#password {
					border: none !important;

					&:focus {
						border: none !important;
					}

					&[placehoder] {
						color: $black !important;
					}
				}
			}

			#forgot-password {
				font-size: 13px;
				font-weight: bold;
			}

			.login-button {
				width: 100% !important;
				background: $primary-dark;
			}

			#sign-up {
				a {font-weight: bold; font-size: 17px;}
			}
		}
	}
}