/** 
* 
* Styles here are specific to Login component. 
* check _general.scss partial for general authentication pages styles
* */

#app {
	// ##### SMALL SCREEN #####
	@include respond-below(xs) {
		#orderbook-login {
			height: 80vh !important;
		}
	}

	@include respond-below(md) {
		#orderbook-login {
			#login-intro {
				h1 {
					font-size: 30px !important;
				}
			}
		}
	}

	@include respond-above(md) {
		#orderbook-login {
			height: 100vh;

			#orderbook-form {
				form {
					& > div {
						padding-top: 8em !important;
					}
				}
			}
		}
	}
 
	// ####### LARGE SCREEN #####
	#orderbook-login {
		#intro-background {
			#login-intro {
			}
		}

		#orderbook-form {
			form {
				#login-button {
				}

				#forgot-password {
					font-size: 13px;
					font-weight: bold;
				}

			}
		}
	}
}