#app {
	#orderbook-nav {
		display: flex;
		align-items: center;
		background-color: $black !important;
		height: 98px;
		padding: 20px 40px;

		#orderbook-logo {
			width: 40%;
			color: $white;
			font-family: $header-font;
			font-size: 36px;
			font-weight: bold;
		}
		#nav-menu {
			// width: 60%;
			#nav-menu-list {
				list-style-type: none !important;
				margin-block: 0px;
				padding-inline-start: 0px;
				display: flex;
				align-items: center;

				.nav-menu-item {
					margin-right: 40px;

					a {
						display: block;
						color: $white;
						font-family: $body-font !important;
						text-decoration: none;
						height: 100%;
					}
				}

				#login {
					a {
						font-weight: 900;
					}
				}

				#register-cta {
					background-color: $white;
					width: 97px;
					height: 28px;
					padding: 5px 10px;
					a {
						color: $black !important;
						font-weight: 900;
						display: flex !important;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}

	#orderbook-footer {
		background-color: $primary-dark;
		height: 457px;
		display: flex;
		justify-content: space-between !important;
		padding: 40px 40px;

		#orderbook-about-us {
			width: 40%;
			#logo {
				font-family: $header-font;
				font-size: 35px;
				font-weight: bold;
				color: $white;
			}
			#about-us {
				font-family: $body-font;
				color: $white;
				line-height: 1.5;
				width: 400px;

			}
		}
		#orderbook-footer-links {
			width: 70%;
			display: flex;
			justify-content: space-evenly;

			.links-container {
				display: flex;
				flex-direction: column;

				h4 {
					color: $white;
					font-family: $header-font;
					font-size: 25px;
				}

				.links {
					text-decoration: none;
					font-family: $body-font;
					color: $white;
					margin-bottom: 30px;
				}

				&#site-links {

				}
			}
		}
	}
}