#app {
    /*######## PORTRAIT & SMALL SCREENS ##########*/
    @media only screen and (max-width: 767px) {
        #orderbook-nav {
            flex-direction: row;
        }
    }

    // Show mobile navigation
    @media (max-width: 930px) {
        #orderbook-nav {
            flex-direction: initial !important;
            justify-content: space-between;
        }

        #nav-menu {
            display: none !important;
        }

        #orderbook-logo {
            align-self: baseline !important;
            font-size: 25px !important;
            width: auto !important;
        }

        #burger-toggle {
            display: block !important;
            padding-right: 20px;
        }

        #orderbook-mobile-nav {
            // display: block;
            background-color: $secondary-dark;
            
            #nav-menu-list {
                /*Class name doesn't exist on HTML. 
                It's pseudo class with shareable properties with selectors.*/
                ._dropdown-style {
                    text-align: center;
                    margin-bottom: 10px;
                    padding: 10px 0;
                    font-weight: normal !important;
                    a {display: block !important;}
                }

                .nav-menu-item {
                    @extend ._dropdown-style;

                    .dropdown-header {
                        font-weight: bold;
                    }

                    a.dropdown-header { 
                        color: $white;

                        &:hover {
                            color: $black;
                        }
                    }

                    &#user-profile-menu-item {
                        #user-profile-header {
                            #profile-photo {
                                width: 50px;
                                height: 50px;
                                border-radius: 25px;
                                margin: 0 10px 0 10px;
                            }
                        }
                    }

                    .sub-dropdown {
                       .dropdown-item {
                            @extend ._dropdown-style;
                       }

                        background: $black;
                        color: $white;
                        margin: 0 20px 0 20px;
                        border-radius: 5px;
                    }

                    // Naviation shown to aunthenticated users
                    &:not(#register-cta):hover {
                        background: $white;
                        color: $black !important;
                    }

                    &#login {
                        font-weight: bold;
                    }
                }

                #register-cta {
                    background: $white;
                    color: $black;
                }
            }
        }
    }

    // Responsive nav and footer on maximum width of 974px
    @media (max-width: 974px) {
        #orderbook-nav {
            flex-direction: column;
        }

        #orderbook-footer {
            flex-direction: column !important;
            height: auto !important;

            #orderbook-about-us {
                #about-us {
                    font-size: 17px !important;
                }
            }
            
            #orderbook-footer-links {
                justify-content: space-between !important;
            }
        }
    }

    // Resizes logo font
    @media (max-width: 1150px) {
        #orderbook-nav {
            #orderbook-logo span {
                font-size: 30px !important;
            }
        }
    }

    // Footer links as column
    @media (max-width: 662px) {
        #orderbook-footer {
            #orderbook-footer-links {
                flex-direction: column !important;
            }
        }
    }

    @include respond-below(sm) {
        #dashboard-nav {
            height: auto !important;

            #orderbook-logo {
                margin-bottom: 10px;
                width: inherit !important;
            }

            #nav-menu {
                #nav-menu-list {
                    display: none !important;

                    &.responsive-nav-menu {
                        display: flex !important;
                        width: 100% !important;
                        flex-direction: column !important;
                        height: auto !important;
                        .nav-menu-item {
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }
    }

    /*###### LANDSCAPE & LARGE SCREENS ######*/

    #orderbook-nav {
        display: flex;
        align-items: center;
        background-color: $black !important;
        height: 130px;
        padding: 20px 0px 20px 40px;

        #orderbook-logo {
            display: inline-block;
            width: 40%;
            color: $white;
            font-family: $header-font;
            font-size: 40px;
            font-weight: bold;
        }

        #nav-menu {
            #nav-menu-list {
                list-style-type: none !important;
                margin-block: 0px;
                padding-inline-start: 0px;
                display: flex;
                align-items: center;
                width: 700px;
                justify-content: space-evenly;

                .nav-menu-item {
                    margin-right: 30px;

                    a {
                        display: block;
                        color: $white;
                        font-family: $body-font !important;
                        text-decoration: none;
                        height: 100%;
                    }
                }

                #login {
                    a {
                        font-weight: 900;
                    }
                }

                #register-cta {
                    background-color: $white;
                    width: 120px;
                    height: 20px;
                    padding: 20px;
                    margin: 0px;

                    a {
                        color: $black !important;
                        font-weight: 900;
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    #orderbook-nav {
        height: auto !important;

        #nav-menu {
            width: 80%;
            #nav-menu-list {
                width: 100% !important;

                .nav-menu-item {
                    margin-right: 0 !important;

                    &.dropdown {
                        position: relative;

                        #deals-dropdown,
                        #analysis-dropdown,
                        #admin-dropdown,
                        #help-dropdown {
                            visibility: hidden;
                            position: absolute;
                            background: $white !important;
                            top: 111%;
                            z-index: 1;
                            padding: 0px 0px 15px 0px;
                            width: 250px;

                            a {
                                color: $black;
                                padding: 8px 8px 8px 15px;
                                margin-top: 10px;

                                &:hover {
                                    background: lightgray;
                                }
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 100%;
                                left: 13%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: transparent transparent $white transparent;
                            }
                        }

                        &:hover #deals-dropdown,
                        &:hover #analysis-dropdown,
                        &:hover #admin-dropdown,
                        &:hover #help-dropdown {
                            visibility: visible;
                        }
                    }

                    #profile-container {
                        display: flex;
                        justify-content: space-between;

                        #profile-dropdown {
                            position: relative;
                            display: inline-block;

                            #profile-photo {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                border-top: 3px dashed $white;
                                border-right: 3px dashed $white;
                                border-radius: 20px;
                            }

                            #profile-menu-nav {
                                position: absolute;
                                top: 111%;
                                right: -32px;
                                z-index: 1;
                                width: 200px;
                                visibility: hidden;
                                padding: 30px 20px;

                                .menu-nav-container {
                                    color: $black;
                                    font-family: $body-font;
                                    font-size: 17px;
                                    width: 100%;

                                    a {
                                        padding: 10px;
                                        color: $black;

                                        &:hover {
                                            background: lightgray;
                                        }
                                    }
                                }

                                #account {
                                    span {
                                        display: block;
                                        padding: 10px;
                                        &:hover {
                                            background: lightgray;
                                        }
                                    }
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 100%;
                                    left: 75%;
                                    margin-left: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent transparent $white transparent;
                                }
                            }

                            &:hover #profile-menu-nav {
                                visibility: visible !important;
                            }

                            margin-right: 7px;
                        }

                        img {
                            width: 45px;
                            height: 45px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    // FOOTER
    #orderbook-footer {
        background-color: $primary-dark;
        height: 457px;
        display: flex;
        justify-content: space-between !important;
        padding: 40px 40px;

        #orderbook-about-us {
            #logo {
                font-family: $header-font;
                font-size: 35px;
                font-weight: bold;
                color: $white;
            }

            #about-us {
                font-family: $body-font;
                color: $white;
                line-height: 1.5;
                max-width: 500px;
                margin: 10px 0px;
                font-size: 16.5px;
            }
        }

        #orderbook-footer-links {
            width: 70%;
            display: flex;
            justify-content: space-evenly;

            .links-container {
                display: flex;
                flex-direction: column;

                h4 {
                    color: $white;
                    font-family: $header-font;
                    font-size: 25px;
                }

                .links {
                    text-decoration: none;
                    font-family: $body-font;
                    color: $white;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
