/** 
* 
* Styles here are specific to Login component. 
* check _general.scss partial for general authentication pages styles
* */


#orderbook-form {
    // height: 100vh;

    form {
        #registration-steps {
            position: relative;
            #first-step-fields {
                position: absolute;
                width: 100%;
            }
            #final-step-fields {
                position: inherit;
                left: 700px;
                visibility: hidden;
            }

            .form-slide-button {
                cursor: pointer;
            }
        }

        #register-button {

        }
    }
}
