
/*######### COLOR THEME ########*/

// Primary brand colors
$primary-base: #0032AD;
$primary-dark: #002276;
$primary-light: #0044EC;

// Secondary brand colors
$secondary-base: #003D3A;
$secondary-dark: #000B0A;
$secondary-light: #008D86;

// Alert/signal colors
$surface: #F0F0F0;
$on-surface: #111214;
$rejected: #111214;
$critical: #111214;
$warning: #FFA155;
$success: #008060;
$interactive: #3EB595;
$hightligth: #6EFFDC;


/*###### FONTS #######*/
$header-font: 'Arvo', serif;
$body-font: 'Lato', sans-serif;